CONFIG_ARM=y
CONFIG_ARCH_SUNXI=y
CONFIG_SPL=y
CONFIG_MACH_SUN8I_A33=y
CONFIG_TARGET_A33_OLINUXINO=y
CONFIG_DRAM_CLK=432
CONFIG_DRAM_ZQ=15291
CONFIG_DRAM_ODT_EN=y
CONFIG_AXP_GPIO=y
CONFIG_DEFAULT_DEVICE_TREE="sun8i-a33-olinuxino"
# CONFIG_SYS_MALLOC_CLEAR_ON_INIT is not set
CONFIG_SPL_I2C_SUPPORT=y
CONFIG_CMD_DFU=y
# CONFIG_CMD_FLASH is not set
CONFIG_CMD_USB_MASS_STORAGE=y
# CONFIG_SPL_DOS_PARTITION is not set
# CONFIG_SPL_PARTITION_UUIDS is not set
CONFIG_BOOTDELAY=1

CONFIG_ENV_IS_IN_FAT=y
CONFIG_ENV_FAT_INTERFACE="mmc"
CONFIG_ENV_FAT_DEVICE_AND_PART="0:auto"
CONFIG_ENV_IS_IN_EXT4=y
CONFIG_ENV_EXT4_INTERFACE="mmc"
CONFIG_ENV_EXT4_DEVICE_AND_PART="0:auto"
CONFIG_ENV_EXT4_FILE="/boot/uboot.env"
CONFIG_ENV_OFFSET=0x200000
CONFIG_ENV_SIZE=0x20000

CONFIG_MTD=y
CONFIG_NAND=y
CONFIG_NAND_SUNXI_SPL_ECC_STRENGTH=40
CONFIG_NAND_SUNXI_SPL_ECC_SIZE=1024
CONFIG_NAND_SUNXI_SPL_USABLE_PAGE_SIZE=8192

CONFIG_SYS_NAND_BLOCK_SIZE=0x200000
CONFIG_SYS_NAND_PAGE_SIZE=0x2000
CONFIG_SYS_NAND_OOBSIZE=0x280

CONFIG_CMD_MTDPARTS=y
CONFIG_MTDIDS_DEFAULT="nand0=nand.0"
CONFIG_MTDPARTS_DEFAULT="mtdparts=nand.0:4m(NAND.SPL),4m(NAND.SPL.backup),4m(NAND.u-boot),4m(NAND.u-boot.backup),4m(NAND.u-boot-env),4m(NAND.u-boot-env.backup),4m(NAND.dtb),16m(NAND.kernel),-(NAND.rootfs)"

CONFIG_DFU_MMC=y
CONFIG_DFU_NAND=y
CONFIG_DFU_RAM=y

CONFIG_FASTBOOT_CMD_OEM_FORMAT=y
# CONFIG_PHY_ADDR_ENABLE is not set
CONFIG_AXP_DCDC1_VOLT=3300

CONFIG_USB_EHCI_HCD=y
CONFIG_USB_MUSB_GADGET=y
CONFIG_SYS_USB_EVENT_POLL_VIA_INT_QUEUE=y
CONFIG_OF_LIBFDT_OVERLAY=y
CONFIG_OF_SYSTEM_SETUP=y

CONFIG_BOARD_EARLY_INIT_R=y

CONFIG_USB_GADGET_MANUFACTURER="Olimex Ltd."
CONFIG_USB_GADGET_VENDOR_NUM=0x15ba
CONFIG_USB_GADGET_PRODUCT_NUM=0x041

CONFIG_VIDEO_LCD_PANEL_OLINUXINO=y
